/bitrix
/cgi-bin
/logs
/upload
/.gitignore
/.htaccess
/urlrewrite.php
/*.log
/*.sql
/*.txt
/*.xml
/*.dt 
/robots.txt
/.cache
.gitconfig
.bash_history
/includes/api/v1/**/*.txt
/test
/test2
.idea
/upload/
logs/
/*.html
/sitemap*.xml
~*
*.log
Thumbs.db
.DS_Store
._.DS_Store
